<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('backend') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h2>BACKEND</h2>
            <a href="{{ path('app_index_index') }}">APP</a>
            <ul>
                {% for role in app.user.roles %}
                    <li>{{ role }}</li>
                {% endfor %}
            </ul>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('backend') }}
        {% endblock %}
    </body>
</html>
