body {
    background-color: #9db820;
}

div#bg1 {
    display: block;
    position: absolute;
    width: 500px; /* 330 */
    height: 100%;
    left: -501px; /* 301 */
    top: -2px;
    background-repeat: no-repeat;
    background-image: url(background-summer.jpg);
}

div#bg2 {
    display: block;
    position: absolute;
    width: 500px;  /* 330 */
    height: 100%;
    right: -501px;  /* 301 */
    top: -2px;
    background-repeat: no-repeat;
    background-image: url(background-summer.jpg);
    background-position: top right;
}

/* Hack for Internet 'Exploder' */
html {
    overflow-x:hidden;
}

