{% extends 'kitchensink/index.html.twig' %}

{% block meta_data %}
    {{ parent() }}
{% endblock %}

{% block kitchen_title %}
    <title>OC Kitchensink - Bootstrap</title>
{% endblock %}

{% block stylesheets %}
    <!-- Import original BS4-->
    {{ encore_entry_link_tags('bs4') }}
{% endblock %}

{% block kitchen_content %}
    <div class="container">
        {% include '/kitchensink/block/bootstrap.html' %}
    </div>
{% endblock %}

{% block kitchen_footer %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('bs4') }}
<!-- END import by TWIG -->
{% endblock %}
