{% extends 'kitchensink/index.html.twig' %}

{% block meta_data %}
    {{ parent() }}
    <!-- parent: meta_data | oc -->
{% endblock %}

{% block kitchen_title %}
    <title>OC Kitchensink - OC 4 Style</title>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('oc-style') }}
{% endblock %}

{% block kitchen_content %}
    <div class="container">
        {% include '/kitchensink/block/oc4.html' %}
    </div>
{% endblock %}

{% block kitchen_footer %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('oc-style') }}
    <!-- END import by TWIG -->
{% endblock %}

