{% extends '/base.html.twig' %}

{% block page_content %}
    {% if is_granted('ROLE_TEAM') %}
        <br/>
        <a href="{{ path('backend_index_index') }}">BACKEND</a>
    {% endif %}
    <a href="{{ path('app_caches_index') }}">Caches</a>
{% endblock %}
