# Commonly ignored files list. For uncommon locally ignored files, use
# .git/info/exclude. Keep the lines in this file sorted.

# manually created and maintained settings files
/htdocs/config2/settings.inc.php
/htdocs/config2/settings-common.inc.php
/htdocs/lib/settings.inc.php
/htdocs/statpics/.htaccess
/htdocs/util/notification/settings.inc.php
/htdocs/util/publish_caches/settings.inc.php
/htdocs/util/watchlist/settings.inc.php
# obsolete, used for testing old code versions:
/htdocs/util/mysql_root/settings.inc.php

# automatically created and maintained configuation files
/htdocs/vendor
/htdocs/maintenance.enable
# files created when running the OC software
/htdocs/cache2/*
/htdocs/web
/htdocs/opencaching_dump.sql
/htdocs/download/*
/htdocs/images/statpics/*
/htdocs/images/uploads/*
/htdocs/resource2/tinymce/tiny_mce_*.gz
/htdocs/sitemap*xml*
/htdocs/var/*

/htdocs/util/archive/.htaccess
/htdocs/util/attributes/.htaccess
/htdocs/util/change_owner/.htaccess
/htdocs/util/delete/.htaccess
/htdocs/util/mysql_root/.htaccess
/htdocs/util/search_index/.htaccess

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# public OC site files
/htdocs/robots.txt

# developer machine files
/local/devel/okapi-update-settings.inc.php
/local/ocxml11client/data-files
/local/ocxml11client/tmp
/local/ocxml11client/settings.php
/.idea/
/.vagrant/
Thumbs.db
/bin/phpzip.php
parameters.yml
.crowdin.yaml
htdocs/app/Resources/translations/*
!/htdocs/app/Resources/translations/*.en.yml
htdocs/translation.zip

/htdocs/bin/*.zip
/htdocs/bin/translation
/build/logs
/build/artifacts

/*.msi
/*.log
/*.cab
/htdocs/translations.zip

.psh.yaml
/phpunit
/htdocs/node_modules
/htdocs/scss-lint-report.xml
