<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <php>
        <server name="KERNEL_DIR" value="htdocs/app" />
    </php>

    <testsuites>
        <testsuite name="default">
            <directory>tests/</directory>
        </testsuite>

    </testsuites>
    <filter>
        <whitelist>
            <directory>htdocs/api</directory>
            <directory>htdocs/app</directory>
            <directory>htdocs/bin</directory>
            <directory>htdocs/src</directory>
            <directory>htdocs/lib</directory>
            <directory>htdocs/lib2</directory>
            <directory>htdocs/okapi</directory>
            <directory>htdocs/util</directory>
            <directory>htdocs/util2</directory>
            <directory>htdocs/xml</directory>
            <directory>htdocs/*.php</directory>
        </whitelist>
    </filter>
    <php>
        <env name="URL" value="http://local.team-opencaching.de"/>
    </php>
</phpunit>
