{% extends 'base.html.twig' %}

{% set page_title = 'field_notes.field_notes' | trans %}
{% set page_title_image = "resource2/ocstyle/images/misc/32x32-home.png" %}

{% block body %}

    {% for content in contentPages %}
    <div class="ctl-impressum">
        <div class="content2-pagetitle">
            {{ content.title}}
        </div>
            {{ content.html  | raw }}
    </div>
    {% endfor %}

{% endblock %}
