@import '~bootstrap/scss/variables';

//Prefix "l-" stands for legacy
$l-color__error-text: #d8000c;
$l-color__error-background: #ffbaba;

$l-color__info--text: #00529b;
$l-color__info--background: #bde5f8;

$l-color__success-text: #4f8a10;
$l-color__success-background: #dff2bf;
