{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block logo_mini %}<b>OC</b>B{% endblock %}

{% block logo_large %} <b>OC</b> Backend {% endblock %}

{% block footer %}
    <footer class="main-footer ">
        <strong>Copyright &copy; {{ 'now' | date('Y') }} <a href="#">Opencaching</a>.</strong> All rights reserved.
    </footer>
{% endblock %}
