<h3>Other colors:</h3>

<div class="kitchensink__swatch">
    <div class="kitchensink__swatch--blue">blue</div>
    <div class="kitchensink__swatch--indigo">indigo</div>
    <div class="kitchensink__swatch--purple">purple</div>
    <div class="kitchensink__swatch--pink">pink</div>
    <div class="kitchensink__swatch--red">red</div>
    <div class="kitchensink__swatch--orange">orange</div>
    <div class="kitchensink__swatch--yellow">yellow</div>
    <div class="kitchensink__swatch--green">green</div>
    <div class="kitchensink__swatch--teal">teal</div>
    <div class="kitchensink__swatch--cyan">cyan</div>
</div>