{% extends 'backend/base.html.twig' %}

{% block page_content %}
    <div>
        <h3>{{ 'User details' | trans }}..</h3>

        {% if userSearchForm is defined %}
            {{ form_start(userSearchForm) }}
            {{ form_widget(userSearchForm) }}
            {{ form_end(userSearchForm) }}
        {% endif %}
    </div>

{% endblock %}
