{% block headerPrepend %}{% endblock %}
<header class="header">
    {% block header %}
        <div class="header__brand">Opencaching.de</div>
        <ul class="header__items header-items">
            <li class="header-items__item">Startseite</li>
            <li class="header-items__item">Mein Profil</li>
            <li class="header-items__item">Caches</li>
            <li class="header-items__item">Karte</li>
            <li class="header-items__item">Hilfe</li>
            <li class="header-items__item">Teamblog</li>
            <li class="header-items__item">Forum</li>
            <li class="header-items__item">Geokrety</li>
            <li class="header-items__item">Api</li>
        </ul>
    {% endblock %}
</header>
{% block headerAppend %}{% endblock %}
