@import '../../global';

.navigation-item {
    border-top: .05rem solid $gray;

    &__text,
    &__link {
        color: $white;
        display: block;
        padding: #{$navigation-item__text---padding-vertical}rem 0 #{$navigation-item__text---padding-vertical}rem #{$navigation-item__text---padding-left}rem;
    }

    &--current {
        > span,
        > a {
            border-left: #{$navigation-item--current---border-left-width}rem solid $navigation-item--current---border-left-color;
            padding-left: #{$navigation-item__text---padding-left - $navigation-item--current---border-left-width}rem;
            background-color: $gray;
        }

    }
}
