@import '../../global';

.oc-title {
    font-size: 1.2rem;
    color: $white;
    background: $oc-secondary;
    border-bottom: $oc-primary solid 0.25em;
    padding-top: .5rem;
    padding-bottom: .5rem;

    > a {
        color: $white;
    }

    &__title {

        text-transform: uppercase;
    }

    &__link {
        text-transform: uppercase;

        > a {
            color: $white;
        }
    }
}

.oc-title__primary {
    color: $oc-primary;
}

//** Headline page section **//
.oc-section {
    background-color: $gray-darker;
    border-bottom: $oc-primary solid 0.25em;
    color: $white;
    margin-bottom: 0.5em;
    height: 2.5em;

    h2 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.25rem;
        padding-left: .25em;
    }

}
