@import '../../global';

.oc-title {
    background: $oc-main;
    font-size: 1.2rem;
    color: $white;

    > a {
        color: $white;
    }

    &__title {
        text-transform: uppercase;
    }

    &__link {
        text-transform: uppercase;
    }
}

//** Headline page section **//
.oc-section {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: $gray-darker;
    border-bottom: $oc-primary solid 0.25em;
    color: $white;
    margin-bottom: 0.5em;
}
