{% extends 'base.html.twig' %}

{% set page_title = '' %}
{% set page_title_image = "" %}

{% block body %}
    {% for pageBlock in pageBlocks %}
        <div id="block-{{ pageBlock.id}}" class="ctl__page">
            <a class="anchorjs-link " href="#block-{{ pageBlock.id}}" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a>
            <div class="page__block-title">
                {{ pageBlock.title|raw}}
            </div>
            <div class="page__block-html">
                {{ pageBlock.html|raw }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
