@import 'global';

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        padding-left: 0;

        > &:hover {
            background-color: lighten($navigation--level-0---color-background, 5%);
        }
    }

    &--level-0 {
        background-color: $navigation--level-0---color-background;

        .navigation__item {
            padding-left: 0;
        }
    }

    &--level-1 {
        background-color: $navigation--level-1---color-background;

        .navigation__item {
            padding-left: 1rem;
        }
    }
}
