@import '../../global';

.main__header {
    border-bottom: $oc-primary solid 0.25em;
    background: rgba($gray-darker, .75);
    color: $white;
    height: 3.5rem;

    a {
        color: $white;
    }

    a:hover {
        color: $oc-primary__dark;
    }
}
