@import '../../global';

.main__header {
    border-bottom: $oc-primary solid 0.25em;
    background: rgba($gray-darker, .75);
    color: $white;
    z-index: 3;

    a {
        color: $white;
    }

    a:hover {
        color: $oc-primary-dark;
    }
}

.navbar {
    z-index: 5;
}

.nav-link.active {
    background-color: $oc-primary;
    color: $oc-secondary;
}
