@import '../../global';

.main__header {
    border-bottom: $oc-primary solid 0.25em;
    background: rgba($gray-darker, .75);
    color: $white;
    z-index: 3;

    a {
        color: $white;
    }

    a:hover {
        color: $oc-primary-dark;
    }
}

.navbar {
    z-index: 5;
}

.nav-link.active {
    background-color: $oc-primary;
    color: $oc-secondary;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: $oc-primary solid 0.25em;
}

nav {
    width: 100%;
    height: 60px;
    background: rgba($gray-darker, .75);
    position: fixed;
    z-index: 10;

    .site-title {
        color: $white;
        visibility: hidden;
    }

    .visible-title {
        visibility: visible;
        opacity: 1;
        transition: opacity 2s linear;
        padding-right: 1rem;
    }

}
