@import '../../global';

.oc-topmenu-brand {
    font-size: 1.5rem;
    color: $oc-primary;
    font-weight: bold;
    font-family: 'Montserrat', serif;
}

//https://codepen.io/erikterwan/pen/EVzeRP

.oc--topmenu-toggle {
    display: block;
    position: relative;

    z-index: 1;

    user-select: none;

    a {
        text-decoration: none;
        color: $oc-primary__dark;

        transition: color 0.3s ease;
    }

    a:hover {
        color: $oc-primary;
    }


    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        z-index: 2;

    }

    span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: $oc-primary__dark;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease;
    }

    span:first-child {
        transform-origin: 0% 0%;
    }

    span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: $oc-primary;
    }

    input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }


    .oc--topmenu-items {
        position: absolute;
        width: 40vw;
        margin: 0 auto;
        padding: 2rem;

        background: $oc-secondary;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-50%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        li {
            padding: 10px 0;
            font-size: 22px;
        }

        input:checked ~ ul {
            transform: none;
        }
    }
}
