// Reassign color vars to semantic color scheme
$brand-primary: #FFCF44;
$brand-primary-dark: #131F30;

$btn-primary-dark-color:              $brand-primary;
$btn-primary-dark-bg:                 $brand-primary-dark;
$btn-primary-dark-border:             darken($btn-primary-dark-bg,20%);

$body-bg: #FFFFFF;

$font-family-sans-serif: "Play", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: "Muli", Verdana;

// Links
//
// Style anchor elements.

$link-color:            $brand-primary ;
$link-decoration:       none ;
$link-hover-color:      darken($link-color, 30%) ;
$link-hover-decoration: none;