<div class="sidebar">
    <div class="sidebar__brand">
        <img alt="" class="sidebar__brand-logo" src="{{ asset('assets/images/logo_white.png') }}">
        <div class="sidebar__brand-text">Opencaching</div>
    </div>
    <div class="sidebar__profile">
        <img alt="" class="sidebar__profile-image" src="{{ asset('assets/images/profile_unknown.png') }}">
        <div class="sidebar__profile-text">Anonymous</div>
    </div>
    <div class="sidebar__navigation">
        {% include '_components/navigation/navigation.html.twig' %}
    </div>
</div>
