{% extends 'backend/base.html.twig' %}

{% block page_content %}
    <h3>Suche nach Caches</h3>
    
    <form>
        <label>
            OC ID: <input type="text" placeholder="OC1001">
            <input type="submit" value="Senden">
            <span style="color:grey;">type="text, Suche in wp_oc"</span>
        </label>
    </form>
    <form>
        <label>
            GC ID: <input type="search" placeholder="GC0815">
            <input type="submit" value="Senden">
            <span style="color:grey;">type="search, Suche in wp_gc"</span>
        </label>
    </form>
    <form>
        <label>
            Cache ID: <input type="text" placeholder="OC1001 oder GC0815 oder .." autofocus>
            <input type="submit" value="Senden">
            <span style="color:grey;">type="text, Suche in wp_oc, wp_gc, wp_nc, wp_.."</span>
        </label>
    </form>
    <form>
        <label>
            Cachename: <input type="text">
            <input type="submit" value="Senden">
            <span style="color:grey;">type="text, Suche in name"</span>
        </label>
    </form>

    <hr>

    <div>
        <h3>Automatische Datenbankabfrage und Auflistung der Elemente:</h3>
        
        <div>
            DB-Connection
            Abfrage cache_id, name, wp_oc
            Auflistung in Tabelle
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <span class="h1">{{ cachesx }}</span>
                <tbody>
            </table>
        </div>
    </div>

{% endblock %}







