{% extends 'backend/base.html.twig' %}

{% block page_content %}

    <div>
        <h3>Cachedatenbank abrufen..</h3>
        {% if cachesForm is defined %}
            {{ form_start(cachesForm) }}
            {{ form_widget(cachesForm) }}
            {{ form_end(cachesForm) }}
        {% endif %}

    </div>

    <hr>

    <div>
        <h3><br/>Cachedetails direkt abrufen mittels Wegpunkt-ID in der URL:</h3>
        Aufruf:<br/>
        http://try.docker.team-opencaching.de/backend/cache/$WP_OC<br/>
        <small>
            <small>oder</small>
        </small>
        <br/>
        http://try.docker.team-opencaching.de/backend/cache/$WP_GC<br/>
        <br/>
    </div>

    <img src="https://www.opencaching.de/resource2/ocstyle/images/cacheicon/traditional.gif" hidden="true">
    <img src="{{ asset('bundles/adminlte/images/default_avatar.png') }}" width="32px" hidden="true">
{% endblock %}







