{% block navigation %}
<nav class="navigation">
    <ul class="navigation__items navigation-items">
        <li class="navigation-items__item">
            <div class="navigation-items__item-text">Neueste Caches</div>
        </li>
        <li class="navigation-items__item">
            <div class="navigation-items__item-text">Neueste Logs</div>
        </li>
        <li class="navigation-items__item">
            <div class="navigation-items__item-text">Neue Wikiartikel</div>
        </li>
        <li class="navigation-items__item navigation-items__item--last">
            <div class="navigation-items__item-text">Neue Features</div>
        </li>
    </ul>
</nav>
{% endblock %}
