<div class="flash-messages">
    {% if app.session.flashbag.has('success') %}
        <div class="alert alert-success">
            <ul>
                {% for message in app.session.flashbag.get('success') %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if app.session.flashbag.has('info') %}
        <div class="alert alert-info">
            <ul>
                {% for message in app.session.flashbag.get('info') %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if app.session.flashbag.has('error') %}
        <div class="alert alert-danger">
            <ul>
                {% for message in app.session.flashbag.get('error') %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
