@import '~bootstrap/scss/variables';

$font-size-base: 16px;
$font-family-base: Play, Verdana;

//========== OC COLORS =====//
$oc-primary: $red;
$oc-primary__light: lighten($oc-primary, 50%);
$oc-primary__dark: darken($oc-primary, 50%);

$oc-secondary: $green;
$oc-secondary__light: lighten($green, 50%);
$oc-secondary__dark: darken($green, 50%);

$oc-main: $gray-500;


//==========COLORS==========//
$gray-lighter: $gray-500;
$gray-light: $gray-600;
$gray: $gray-700;
$gray-dark: $gray-800;
$gray-darker: $gray-900;

$color__error-text: $white;
$color__error-background: lighten($red, 10%);
$color__error-border: $red;

$color__info-text: $white;
$color__info-background: lighten($blue, 10%);
$color__info-border: $blue;

$color__success-text: $white;
$color__success-background: lighten($green, 10%);
$color__success-border: $green;
