@import 'global';

//=========LIBARIES=========//
@import 'lib/fonts/montserrat';
@import 'lib/svg/icons';
@import 'lib/js/cookiealert';
@import 'lib/bootstrap/modal';

//==========BOOTSTRAP==========//
@import '~bootstrap/scss/bootstrap';

//==========BLOCKS==========//
@import 'blocks/flash-messages/flash-messages';

@import 'blocks/main/main';
@import 'blocks/main/hq-message/hq-message';
@import 'blocks/main/rssfeed/rssfeed';
@import 'blocks/pictures/logpictures';
@import 'blocks/header/header';
@import 'blocks/footer/footer';
@import 'blocks/event/event';
@import 'blocks/title/title';

@import 'common';

