* { padding: 0; margin: 0; border: 0; }
html { overflow-y: scroll; }
html, body { height: 100%; font-family: "lucida grande", "Segoe UI", tahoma, arial, sans-serif; color: #444; }
input, select { font-family: "lucida grande", "Segoe UI", tahoma, arial, sans-serif; color: #444; }
a { cursor: pointer; }
span.note { color: #888; font-size: 70%; font-weight: normal; }

body.api { background: #f5f1eb; }
.okd_mid { width: 1200px; margin: 0 auto; background: url(middle.gif?v2) #f5f1eb; background-position: top center; background-repeat: repeat-y; }
.okd_top { width: 1200px; margin: 0 auto; background: url(top.jpg?v2); background-position: top center; background-repeat: no-repeat; }
.okd_top_pad { height: 230px; width: 1200px; }
.okd_bottom { width: 1200px; height: 64px; margin: 0 auto; background: url(bottom.gif?v2); background-position: top center; background-repeat: no-repeat; }
.okd_switcher { text-align: right; padding: 30px 30px 0 0; font-size: 11px; color: #888; }
.okd_switcher select { border: 1px solid #bbb; padding: 2px; font-size: 12px; }

.signup { border: 1px solid #bbb; }
.signup td { background: #eee9e9; padding: 8px 16px; }
.signup input.text { border: 1px solid #aaa; padding: 3px 4px 2px 4px; width: 300px }
.signup .button { margin-top: 10px; padding: 3px 12px; background: #977; border: 2px solid #744; cursor: pointer; color: #fff; font-weight: bold; }

.infotag {
    display: inline-block;
    background: #d9534f;
    color: #fff !important;
    font-weight: normal;
    font-size: 68%;
    padding: 0.2em 0.4em 0.3em 0.4em;
    line-height: 1em;
    border-radius: 2px;
    cursor: default;
    position: relative;
    top: -2px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    white-space: nowrap;
    text-align: center;
    vertical-align: baseline;
}
a.infotag {
    cursor: pointer;
    text-decoration: none !important;
}
a.infotag:hover {
    background: #fff;
    box-shadow: 0 0 2px #000;
    color: #000 !important;
}

.changelog { border: 1px solid #bbb; }
.changelog th { background: #e1d7d8; }
.changelog td { background: #eee9e9; padding: 8px 16px; }

.apimenu { vertical-align: top; width: 225px; font-size: 15px; padding: 0 20px 0 32px; }
.apimenu .revision { float: right; font-size: 11px; color: #888; position: relative; top: -30px; }
.apimenu a { color: #804937; text-decoration: none; }
.apimenu a:hover { text-decoration: underline; }
.apimenu .module { margin: 10px 0 2px 0; font-weight: bold; }
.apimenu .methods { padding-left: 20px; }
.apimenu .selected { font-weight: bold; }

.article { padding: 10px 48px 40px 31px; vertical-align: top; font-size: 15px; line-height: 1.4em; }
.article a { color: #3e48a8; text-decoration: underline; }
.article h1 { padding: 0 0 30px 0; font-weight: bold; font-style: italic; font-size: 22px; }
.article h1 .subh1 { font-size: 18px; font-weight: normal; color: #888; }
.article h1 .subh1 b { font-weight: normal; color: #944; }
.article h2 { clear: both; margin: 50px 0 10px 0; padding-top: 20px; font-weight: bold; font-style: italic; font-size: 22px; border-top: 2px dotted #aaf; }
.article p { margin-bottom: 15px; }
.article pre { margin-bottom: 15px; }
.article ul { margin-bottom: 15px; margin-left: 35px; }
.article ol { margin-bottom: 15px; margin-left: 35px; }
.article li { margin: 6px 0; }
.article li p { margin: 6px 0; }
.article .floaticonlink { float: right; margin: 0 0 3em 1em; }
.article .floaticonlink a { outline:0; }
.article .issue-comments { font-size: 20px; font-weight: bold; }
.article .issue-comments .notice { font-size: 11px; font-weight: normal; color: #888; padding-left: 10px; }
.article .deprecated { color: #888; }
.article .deprecated a { color: #636898; }
.method { background: #ccc; margin-bottom: 20px; }
.method td { background: #fff; padding: 5px 8px 10px 8px; vertical-align: baseline; }
.method .public td { background: #fdf9f5; }
.method .public td.argname { border-left: 5px solid #edd; }
.method .inherited td { background: #ffffd8; }
.method .inherited td.argname { border-left: 5px solid #eeb; }
.method .common-formatting td { background: #f5f5ff; }
.method .common-formatting td.argname { border-left: 5px solid #ddf; }
.method td.argname { font-weight: bold; text-align: center; font-style: italic; font-size: 16px; padding: 5px 20px; }
.method td.required { font-weight: bold; text-align: center; padding: 5px 20px; }
.method td.optional { font-style: italic; text-align: center; padding: 5px 20px; }
.method td.argdesc { }
.method td.argdesc p:last-child { margin-bottom: 0; }
.method td.oauth_args { background: #fdf9f5; font-size: 12px; color: #666; line-height: 1.2em; }
.method td.caption { text-align: left; padding: 10px; background: #eae2d5; }
.method td.description { text-align: left; padding: 10px; background: #fff; }
.method td.description p:last-child { margin-bottom: 0; }
.method td.returns { text-align: left; padding: 10px; background: #fff; }
.method td.returns p:last-child { margin-bottom: 0; }
.method td.precaption { padding: 4px 2px; background: #fdf2e2; }
.method td.precaption table { margin: 0 auto 0 0; }
.method td.precaption table td { background: transparent; padding: 0 5px; font-size: 12px; color: #777; line-height: 1.1em; }
.method td.precaption .level { font-weight: bold; }
.method td.precaption .level0 { color: #333; }
.method td.precaption .level1 { color: #333; }
.method td.precaption .level2 { color: #c44; }
.method td.precaption .level3 { color: #c44; }
