@import 'global';

.header-items {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        display: inline-block;
        padding: 0 1rem;

        &:hover {
            background-color: $gray-light;
        }
    }
}
