<!DOCTYPE html>
<html lang="{{ app.request.locale|slice(0, 2) }}">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ asset('web/css/main.css') }}" />
    </head>
    <body>
        {% include 'index/header.html.twig' %}

        <nav class="navigation">

        </nav>

        <main class="main">
            {% include 'partials/flash-messages.html.twig' %}

            {% block body %}{% endblock %}
        </main>

        {% include 'index/footer.html.twig' %}
    </body>
</html>
