<h1>Opencaching - Version 4</h1>
<hr>
<p>Der neue OC4 Style setzt zu 100% auf Bootstrap (BS) auf. Wir ersetzen Variablen und Blöcke und fügen mit eigenem
   Namen spezielle Elemente die es bei BS nicht gibt hinzu.</p>

<h3>Farben</h3>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card text-dark bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">oc-primary color</div>
                <div class="card-body">
                    <h5 class="card-title">#f0d000</h5>
                    <p class="card-text">Die Signalfarbe Gelb ist unsere primäre Farbe.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">oc-secondary color</div>
                <div class="card-body">
                    <h5 class="card-title">#343A40</h5>
                    <p class="card-text">Der Kontrast zwischen Primary und Secondary Color liegt bei 7.2</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            Das Farbschema ist mit einem Kontrast von 7.2 WCAG 2.0 Kompatibel.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>Schrift</h3>
        <p>Um OC4 etwas Schwung zu verleihen arbeiten wir mit frei verfügbaren Schriften aus der Google Font Libary.
           Dabei werden die Schriften jedoch LOKAL eingebunden um keine unnötige Verbindung zu Google Servern zu
           verursachen.</p>
    </div>
</div>
