{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello World!</h1>
    <p>Ich bin ein Twig Template, gerendert von einem Symfony Controller, mein Output wird jedoch in das Legacy Smarty Template gerendert.</p>
    <p>Die Symfony Version ist {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</p>
    {% if user and user.id > 0 %}
        <p>Eingeloggt als {{ user.userName }} ({{ user.id }})</p>
    {% else %}
        <p>nicht eingeloggt.</p>
    {% endif %}
    <p>Translation Test: {% trans %}Symfony is great{% endtrans %}</p>
{% endblock %}
